.main-footer {
  .grid-style(30px, center);
  padding: 41px @main-side-indent 33px @main-side-indent;
  justify-content: center;
  text-align: center;

  @media (min-width: @tablet-width) {
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    padding: 36px 60px;
  }

  @media (min-width: @desktop-width) {
    padding: 36px 120px;
  }

  &__copyright {
    .flex-style(initial, wrap, initial, center);
    justify-content: center;
  }
}

.social__list {
  .list-reset();
  .flex-style(initial, wrap, 6px, initial);
}

.social__link {
  position: relative;
  display: inline-flex;
  width: 48px;
  height: 48px;
  background-color: @secondary-color;
}

.copyright__text {
  padding-right: 12px;
}

.copyright__link {
  color: @base-text-color;
}
