// .advantages {}

.advantages__header {
  padding: 32px @main-side-indent 16px @main-side-indent;

  &-title {
    margin: 0 0 35px 0;
  }
}

.advantages__list {
  .list-reset();
}

.advantages__item {
  background-color: @secondary-color;
  color: @base-color;
}

.advantages__title {
  margin-bottom: 10px;
}

.advantages__number {
  color: @base-color;
  margin-bottom: 15px;
}

.advantages__text {
  color: @base-color;
}

.advantages__real-city {
  padding: 70px @main-side-indent 40px @main-side-indent;
}

.advantages-real-life__list {
  .list-reset();
  padding: 23px @main-side-indent 46px @main-side-indent;
  background-color: @base-color;
  color: @base-text-color;
}

.advantages-real-life__item {
  padding: 8px 0 0 47px;
}

.advantages-real-life__title {
  margin-bottom: 16px;
}

.advantages__devil-bridge {
  padding: 37px @main-side-indent;
}

.advantages__item--secondary {
  position: relative;
  padding: 24px @main-side-indent 25px @main-side-indent;
  background-color: #eeeeee;
  color: @base-text-color;

  .advantages__number {
    color: @secondary-text-color;
  }

  .advantages__text {
    color: @secondary-text-color;
  }

  &:last-child {
    padding-bottom: 28px;
  }

  &:not(:last-child)::before {
    content: "";
    position: absolute;
    top: 100%;
    left: @main-side-indent;
    width: calc(100% - (2 * @main-side-indent));
    height: 1px;
    background-color: #d6d6d6;
    z-index: 1;
  }
}
