.foto-catalog {
  padding: 37px @secondary-side-indent 0 @secondary-side-indent;

  @media (min-width: @tablet-width) {
    padding: 66px 60px 0 60px;
  }

  @media (min-width: @desktop-width) {
    padding: 100px 0 0 0;

    &__description {
      margin-top: auto;
    }
  }

  &__header {
    .flex-style(column, initial, 26px, center);
    margin: 0 0 37px 0;
    text-align: center;

    @media (min-width: @tablet-width) {
      margin-bottom: 80px;
      padding: 0 105px;

      &-title {
        font-size: 30px;
      }
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 86px;
      padding: 0 370px 0 370px;
    }
  }

  &__list {
    .list-reset();
    .grid-style(initial, initial);
    grid-template-columns: 1fr;

    @media (min-width: @tablet-width) {
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: @desktop-width) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &__item {
    .flex-style(column, initial, initial, initial);
    position: relative;
    padding: 25px 0;

    @media (max-width: (@tablet-width - 0.02)) {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -@secondary-side-indent;
        width: calc(100% + 2 * @secondary-side-indent);
        height: 1px;
        background-color: @input-hover-color;
      }
    }

    @media (min-width: @tablet-width) {
      padding: 0;

      &--main {
        grid-column: span 2;
      }
    }

    @media (min-width: @desktop-width) {
      min-height: 267px;

      &--main {
        grid-column: span 3;
        min-height: 400px;
      }
    }

    &:nth-child(odd) {
      @media (min-width: @tablet-width) and (max-width: 1199px) {
        .foto-catalog__description {
          background-color: #eaeaea;
        }
      }
    }
  }

  &__link {
    // display: inline-flex;
    .flex-style(column, initial, initial, initial);
    margin-bottom: 15px;

    img {
      object-fit: cover;
      width: 100%;
      // max-width: 419px;

      @media (min-width: 459px) {
        height: auto;
      }
    }

    &--main img {
      max-width: 100%;
      height: 280px;
    }

    @media (min-width: @tablet-width) {
      margin-bottom: 0;

      img {
        min-height: 267px;
        height: auto;
        // max-width: 400px;
      }

      &--main img {
        min-height: 400px;
      }
    }

    @media (min-width: @desktop-width) {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__description {
    .grid-style(initial, center);
    grid-template-columns: 1fr;

    @media (min-width: @tablet-width) and (max-width: 1199px) {
      background-color: @input-color;
    }

    @media (min-width: @tablet-width) {
      padding: 22px 20px 15px 20px;
      grid-template-columns: 1fr auto;
      grid-auto-flow: dense;
    }

    @media (min-width: @desktop-width) {
      background-color: rgba(0, 0, 0, 0.3);
      z-index: 1;
    }
  }

  &__title {
    font-weight: 700;
    text-transform: uppercase;

    @media (min-width: @desktop-width) {
      color: @base-color;
    }
  }

  &__autor {
    @media (max-width: (@tablet-width - 0.02)) {
      margin-bottom: 11px;
    }

    @media (min-width: @tablet-width) {
      grid-row: 2 / 3;
    }

    @media (min-width: @desktop-width) {
      color: @base-color;
    }
  }

  &__like-wrapper {
    .flex-style(initial, initial, initial, flex-end);

    @media (min-width: @tablet-width) {
      grid-row: 1 / span 2;
      grid-column-start: 2;
      margin: 6px 0 12px 0;
    }
  }

  &__like-counter {
    font-weight: 700;

    @media (min-width: @desktop-width) {
      color: @base-color;
    }
  }

  &__button {
    padding: 0 14px 5px 0;
    border: none;
    line-height: 0;
    color: @base-text-color;
    opacity: 0.3;
    background-color: rgba(252, 252, 252, 0);
    background-repeat: no-repeat;
    .pointer();

    &:hover {
      color: @secondary-color;
      opacity: 1;
    }

    &:hover + .foto-catalog__like-counter {
      color: @secondary-color;
      opacity: 1;
    }

    &:active {
      color: @secondary-color;
      opacity: 0.6;
    }

    &:active + .foto-catalog__like-counter {
      color: @secondary-color;
      opacity: 0.6;
    }

    &:focus-visible {
      outline: none;
      color: @secondary-color;
      opacity: 1;
    }

    &:focus-visible svg {
      outline: 2px solid @secondary-color;
      border-radius: 20%;
      outline-offset: 3px;
    }

    &:focus-visible + .foto-catalog__like-counter {
      color: @secondary-color;
    }

    @media (min-width: @tablet-width) {
      padding: 0 14px 4px 0;
    }

    @media (min-width: @desktop-width) {
      color: @base-color;
      opacity: 1;
    }
  }
}
