// .main-container {
// }

.main-container__header {
  position: relative;
  background-image: url("../../img/intro-triangle.svg"), url("../../img/intro-back-mobile@1x.png");
  background-repeat: no-repeat;
  background-color: @secondary-color;
  background-position: center bottom, center top;
  text-align: center;
  line-height: 0;
  height: 389px;

  @media (min-width: @tablet-width) {
    background-image: url("../../img/intro-triangle.svg"), url("../../img/intro-back-desktop@1x.png");
    height: 518px;
  }

  img {
    margin-top: 90px;

    @media (min-width: @tablet-width) {
      margin-top: 77px;
    }
  }

  &--secondary {
    background-image: url("../../img/intro-triangle.svg"), url("../../img/intro-background-mobile-secondary.png");
    background-position: center bottom, center -56px;
    height: 158px;

    @media (min-width: @tablet-width) {
      background-image: url("../../img/intro-triangle.svg"), url("../../img/intro-back-desktop@1x.png");
      background-position: center bottom, center -217px;
      height: 290px;
    }

    @media (min-width: @desktop-width) {
      background-position: center bottom, center -206px;
      height: 301px;
    }

    img {
      margin-top: 52px;

      @media (min-width: @tablet-width) {
        margin-top: 95px;
      }

      @media (min-width: @desktop-width) {
        margin-top: 101px;
      }
    }
  }
}
