// .main-container {
// }

.main-container__header {
  line-height: 0;
  padding: 90px 19px 85px 19px;
  background-image: url("../../img/intro-background-mobile.png");
  background-repeat: no-repeat;
  background-color: @secondary-color;

  &--secondary {
    padding: 52px 45px 67px 45px;
    background-image: url("../../img/intro-background-mobile-secondary.png");
  }
}
