.review-section {
  padding: 24px 0;
  border-top: 1px solid #e5e5e5;

  &--representation {
    margin-bottom: 39px;
  }

  &--contacts {
    margin-bottom: 34px;
  }

  &--comment {
    margin-bottom: 56px;
  }

  &--filter-group {
    border: none;
  }
}
